@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000000;
    font-family: sans-serif;
    color: #345358;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to right bottom, #00f260, #0575e6) ;
}
::-webkit-scrollbar{
    width: 8px;
    height: 0;
}
